.orientation--nord {
    transform: rotate(0deg);
}
.orientation--west {
    transform: rotate(90deg);
}
.orientation--south {
    
    transform: rotate(180deg);
}
.orientation--east {
    transform: rotate(-90deg);
}